<section >
  <div class="text-center container-fluid bgimg">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 container-fluid bg-fullscreen">
        <img alt="yourhousing-background" class="img-responsive text-center"  src="/modules/core/client/img/home-background.jpg" />
      </div>
    </div>
    <br>

  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>About us</h2>
      <p>YourHousing connects users with property owners to offer good options for home search. <a target="_blank" href="home.client.view.html" >Read</a> to learn more</p>
    </div>
    <div class="col-md-3">
      <h2>For users</h2>
      <p>Easy search to identify place you like. Helps you connect to property owner. <a target="_blank" href="home.client.view.html" >Read</a> to learn more.</p>
    </div>
    <div class="col-md-3">
      <h2>For owners</h2>
      <p>Advertise properties by choosing package. <a target="_blank" href="home.client.view.html" >Read</a> to learn more</p>
    </div>
    <div class="col-md-3">
      <h2>Contact us</h2>
      <p><a target="_blank" href="home.client.view.html" >Read</a> to learn more</p>
    </div>
  </div>

</section>
