
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select package</title>
  <link rel="stylesheet" type="text/css" href="css/component.css">
</head>
<body>
<div class="container">
  <section class="pacakge-section bg-4">
    <h2 class="intro" >Enter payment details</h2>
    <div class="package package--yonten">
      <div class="package__item">
        <!--<div class="icon icon&#45;&#45;home"></div>-->
        <h3 class="package__title">Card details</h3>
        <!--<div class="pricing__price"><span class="pricing__currency">$</span>200<span class="pricing__period">/ year</span></div>-->
        <ul class="package__feature-list">
          <li class="package__feature" >Card number <input type="text" id="textbox"></input></li>
          <li class="package__feature">CCV<input type="text" id="textbox_ccv"></li>
          <li class="package__feature">Expire through<input type="text" id="textbox_expire"></li>
          <li class="package__feature">Name<input type="text" id="textbox_name"></li>
        </ul>
        <button class="package__action">Submit</button>
      </div>
    </div>

  </section>

</div>

</body>
</html>
